.background_sidebar {
  float: left;
  height: 100vh;
  text-align: center;
  background-image: image-url("note_cover.jpg");
  background-size: cover;
  position: fixed;
  margin: 0 auto;

  .welcome_sidebar {
    margin-top: 20%;
    #logo {
      text-decoration: none;
      color: $black;
      font-weight:700;
      font-size: 50px;
    }
    ul {
      margin-top: 25%;
      list-style: none;
      float: left;
      width: 100%;
      li {
        margin-right:4rem;
        margin-top: 20%;
        a{
          font-size: 1.5rem;
          text-decoration: none;
          color: $black;
          &:hover {
            color: $highlight;
            transition: color .3s ease-in-out;
            font-weight:700;
          }
        }

      }
    }
  }
}

aside{
  padding-left: 2.5%;
  margin: 2% 2.5%;
  width: 95%;
  float: left;
  text-align: center;
  border: 1px solid $black;
}

#content {
  padding-left: 2.5%;
  margin: 0 2.5%;
  width: 95%;
  float: left;
  text-align: center;
  .post {
    padding-top: 5%;
    .user{
      margin-left: 10px;
    }
    .date{
      margin-top: 15px;
      font-size: 1rem;
      color: $grey;
    }
    h1 a {
      color: $black;
      font-size: 5rem;
      text-decoration: none;
      &:hover {
        color: $highlight;
        transition: color .3s ease-in-out;
        font-weight:700;
      }
    }
    p {
      font-size: 2.25rem;
      width: 60%;
      margin: 0% 20%;
    }

    hr {
      margin-top: 7.5%;
    }

  }
}

#wrap_setting {
  width: 100%;
  float: left;
  margin:6.5% 0 0 0%;
  padding-left: 23.5%;
}

#form_setting {
  width: 100%;
  float: left;
  padding-left: 7.5%;
}

.form_setting {
  padding-left: 7.5%;
  input[type="email"], input[type="text"], input[type="password"], textarea {
    width: 100%;
    height: 3.5rem;
    margin-top: .10rem;
  }
  .button_green{
    margin-top: 5%;
  }
}

.gravatar_change {
  margin-top:10%;
  float: left;
}

/* Users index */

#wrap_discover {
  width: 75%;
  float: left;
  margin:6.5% 0 3% 17.5%;
}

.users {
  list-style: none;
  margin: 0 0 0 10px;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

// Microposts#write

.micropost_form {
  #micropost_content {
    margin-top: -40px;
    margin-bottom: 20px;
    width: 100%;
    height: 200px;
  }
}
