#sidebar {
  float: left;
  background: $light;
  height: 100vh;
  text-align: center;
  nav {
    margin-top: 20%;
    #logo {
      text-decoration: none;
      color: $black;
      font-weight:700;
      font-size: 50px;
    }
    ul {
      margin-top: 25%;
      list-style: none;
      float: left;
      width: 100%;
      li {
        margin-right:4rem;
        margin-top: 10%;
        a{
          font-size: 1.4rem;
          text-decoration: none;
          color: $black;
          &:hover {
            color: $highlight;
            transition: color .3s ease-in-out;
            font-weight:700;
          }
        }

      }
    }
  }
}


// background image for home/login/signin pages (controller_name)-(action_name)
#static_pages-home, #users-new, #users-create, #sessions-new, #sessions-create {
  background-image: image-url("18.jpg");
  height:100vh;
  background-size: cover;
  background-position: center;
  float: left;
  h1 {
    float:left;
    margin: 3.5% 50% 10% 30%;
    padding-top: 20% 0;
    color: $white;
    font-weight: 700;
    font-size: 10rem;
    text-shadow: 4px 2px 4px rgba(150, 150, 150, 1);
  }
}

.slogan { // home page
  padding: 0.5% 0 0 20%;
  float:left;
  color: $white;
  font-weight: 700;
  font-size: 6rem;
  text-shadow: 4px 2px 4px rgba(150, 150, 150, 1);
}

.slogan2 { // login page
  padding: 5.5% 0 1.5% 50%;
  width: 100%;
  float:left;
  color: $white;
  font-weight: 700;
  font-size: 6rem;
  text-shadow: 4px 2px 4px rgba(150, 150, 150, 1);
}


.slogan3 { // register page
  padding: 4.5% 0 0 19%;
  margin-right: 25%;
  width: 100%;
  float:left;
  color: $white;
  font-weight: 700;
  font-size: 6rem;
  text-shadow: 4px 2px 4px rgba(150, 150, 150, 1);
}




/* signin & register page
------------------------- */


#signin_wrap {
  padding-left: 30%;
  width:130%;
}


.actions_signup {
  padding: 5.5% 0 0 41.5%;
}

.actions_login {
  padding: 5.5% 0 0 10.5%;
}

.actions { //register page > action button
  width: 100%;
  float: left;
  a{
    font-size: 0.9em;
    text-decoration: none;
    padding-right: 5%;
    color: $black;
    &:hover {
      color: $light;
      font-weight: 700;

    }
  }
  p {
    font-size: 1.25em;
    color: $light;
    padding: 0 0 1em 0em;
  }
}










